/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */

body {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}
.container7 {
  display: flex;
  height: 100%;
  /* width: 100%; */
  /* border: red solid; */
  /* position: static; */
}
.left1 {
  /* border: solid 2px black; */
  height: 729px;
  width: 50%;
  overflow: hidden;

  /* border: red solid; */
}
.right1 {
  height: 100%;
  width: 50%;
  /* border: red solid; */
}
.text1 {
  height: 65px;
  width: 33%;
  text-align: center;
  line-height: 35px;
  margin-top: 90px;
  margin-left: 250px;
}
.main-content {
  height: auto;
  width: auto;
  margin: 40px 20px;
  display: flex;
  flex-direction: column;
}
label {
  margin: 0 20px;
}
input[type="text"],
input[type="password"] {
  background: transparent;
  border: none;
  width: 70%;
  padding: 15px;
  /* margin: 5px 0 22px 90px; */
  margin: 0px 90px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 20px;
  opacity: 0.4;
  outline: none;
}
input[type="text"]:focus {
  opacity: 0.8;
  border-bottom: #ffafaf solid 3px;
}
input[type="password"]:focus {
  opacity: 0.8;
  border-bottom: #ffafaf solid 3px;
}

.button5 {
  background-color: #ffafaf;
  color: white;
  padding: 14px 90px;
  margin: 8px 0px;
  border: #ffafaf solid 2px;
  /* width: 43%; */
  border-radius: 10px;
  cursor: pointer;
  /* height: 50px; */
  /* opacity: 0.8; */
  /* margin: 23px 0 0 186px; */
  margin: 10px 240px;
  transition: all ease 0.5s;
}
.button5:hover {
  transform: scale(1.1);
  /* opacity: 1; */
}
img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.signin-link {
  text-decoration: none;
  color: blueviolet;
  font-weight: 500;
  font-size: 1.1em;
  /* margin: 10px 100px; */
}
.h4 {
  margin: 20px 250px;
}

.labels {
  margin: 0px 110px;
  padding: 0;
}
@media only screen and (max-width: 2560px) and (max-height:1600px) {
  .left1 {
    height: 100vh;
    width: 50%;
  }
  .right1 {
    height: 100vh;
    width: 50%;
  }
  .text1 {
    margin-top: 200px;
    margin-left: 293px;
  }
  .main-content {
    margin-left: 55px;
  }
  .btn-sign {
    margin-left: 55px;
  }
  .text1-h1 {
    margin-top: 50px;
    margin-left: 340px;
  }
  .text1-h1 h4 {
    margin-left: -17px;
  }
  .get {
    margin-top: 230px;
  }
  .welcome {
    padding-top: 30px;
  }
}
@media only screen and (max-width: 2560px) and (min-height>=999px) {
  .left1 {
    height: 100vh;
    width: 50%;
  }
  .right1 {
    height: 100vh;
    width: 50%;
  }
  .text1 {
    margin-top: 200px;
    margin-left: 293px;
  }
  .main-content {
    margin-left: 55px;
  }
  .btn-sign {
    margin-left: 55px;
  }
  .text1-h1 {
    margin-top: 50px;
    margin-left: 340px;
  }
  .text1-h1 h4 {
    margin-left: -17px;
  }
  .get {
    margin-top: 230px;
  }
  .welcome {
    padding-top: 30px;
  }
}

