* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.container1 {
  padding: 5px 10px;
  max-height: 100%;
  height: 730px;
  /* border: red solid; */
  /* background: #000; */
  background: #ffafaf;
  color: aliceblue;
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-shrink: 2;
  overflow: hidden;
}

.tilt {
  position: absolute;
  content: " ";
  display: block;
  left: -5%;
  bottom: -80px;
  background: #f7f5f2;
  width: 110%;
  height: 30px;
  /* border: solid red; */
  overflow: hidden;
  transform: rotate(2.5deg);
  padding-top: 100px;
}
#head-text {
  color: white;
  /* font-size: 4em; */
  font-weight: bold;
}

#text {
  /* position: absolute;
  left: 20px;
  bottom: 50%; */
  font-size: 4.5em;
  font-weight: bold;
  color: white;
}

.image {
  /* background: transparent; */
  /* border: red solid; */
  overflow: hidden;
  padding: 0;
}

.img {
  height: 700px;
  width: 800px;
}

.mid {
  /* border: red solid; */
  height: 600px;
  /* position: absolute; */
  margin: 150px 120px;
}

.btn1 {
  padding: 10px 20px;
  background: orange;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 5px 2px 20px whitesmoke;
  transition: all ease 0.5s;
}
.btn1:hover {
  transform: scale(1.1);
}

.arrow-container {
  position: absolute;
  left: 140px;
  bottom: 130px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.left {
  padding: 5px 15px;
  background: white;
  padding-top: 10px;
  border-radius: 10px;
  opacity: 0.6;
  transition: all ease 0.5s;
}
.left:hover {
  opacity: 1;
  transform: scalex(1.5);
}
.right:hover {
  opacity: 1;
  transform: scalex(1.5);
}
.arrow-rotate {
  transform: rotate(180deg);
  object-fit: fill;
}
.right {
  padding: 5px 15px;
  padding-top: 10px;
  margin-left: 20px;
  background: white;

  border-radius: 10px;
  opacity: 0.6;
  transition: all ease 0.5s;
}
