@import url("https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Kanit:wght@200;300;500&family=Montserrat:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500&display=swap");
.container {
  display: flex;
  /* border: black solid; */
  justify-content: space-between;
  position: relative;
  align-items: center;
  height: 50px;
  background: #ffafaf;
  color: aliceblue;
  padding: 0 70px;
  padding-top: 30px;
}

.link-container {
  width: 450px;
  /* border: red solid; */
}

.links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: 1.2em;
  cursor: pointer;
}

li {
  /* color: aliceblue; */
  font-weight: 300;
  transition: all ease 0.5s;
  /* color: white; */
}

li:hover {
  color: green;
  /* text-decoration: none; */
}

.active {
  color: green;
}

/* .home {
  transition: all ease 0.5s;
}
.home:hover {
  color: green;
}
.gallery {
  transition: all ease 0.5s;
}
.gallery:hover {
  color: green;
}
.explore {
  transition: all ease 0.5s;
}
.explore:hover {
  color: green;
}
.plan {
  transition: all ease 0.5s;
}
.plan:hover {
  color: green;
}
.expense {
  transition: all ease 0.5s;
}
.expense:hover {
  color: green;
} */

#logo {
  color: green;
  font-family: Beau Rivage;
}
.btn-contain {
  /* border: yellow solid; */
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.img1 {
  width: 500px;
  height: 600px;
  right: 0;
  bottom: 10px;
}

.btn1-1 {
  padding: 5px 20px;
  color: white;
  border: none;
  font-size: 1em;
  cursor: pointer;
  background: #ffafaf;
}

.btn3 {
  padding: 5px 20px;
  color: white;
  border: white 1px solid;
  border-radius: 30px;
  font-size: 1em;
  cursor: pointer;
  background: #ffafaf;
}

.active:hover {
  color: green;
}
