body {
  overflow-x: hidden;
}
.container4 {
  height: 580px;
  padding: 50px 100px;
  width: 100%;
  /* border: red solid; */
  overflow: hidden;
  /* background: #f7f5f2; */
  background-color: #524a4e;

  /* scroll-behavior: none; */
}

.h {
  /* margin: 35px 20px; */
  /* font-size: 1em; */
  font-weight: bold;
  color: white;
  /* font-size: 2.5em; */
}

.slider-container {
  margin: 35px 10px;
  /* border: red solid; */
  /* width: 90%; */
  height: 450px;
  /* position: static; */
  overflow: hidden;
  border-radius: 50px 0 0 50px;
  display: flex;
}

.slide1 {
  /* background: white; */
  /* overflow: hidden; */

  height: 450px;
  object-fit: fill;
  border-radius: 30px;
  cursor: pointer;
  /* transition: all ease 0.5s; */
  /* justify-content: space-between; */
  /* margin: 0 20px; */
  /* margin-right: 50px; */
  /* margin-left: 20px; */
}

.slides {
  align-items: center;
  grid-template-columns: auto auto auto auto auto;
  display: grid;
  /* column-gap: 100px; */
  overflow: hidden;
  /* column-gap: 50px; */
}

.slide-img1 {
  height: 450px;
  width: 470px;
  border-radius: 50px;
  /* padding: 0 20px; */
  flex-wrap: wrap;
}
